body {
    max-width: 767px;
    font-size: 2rem;
    text-align: center;
}
/* En tête de la page du site */
#logo{
    margin-top: 4%;
    margin-bottom: 3%;
    width: 25%;
}
header{
    background-color: #f6f6f6;
    padding-bottom: 5%;
    margin-bottom: 5%;
}
.paris{
    background-color: #eaeaea;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1.5rem;
    /* box sahdow en haut */
}
.reservation{
    margin-top: 8%;
    font-weight: bold;
    /* retour à la ligne */
    margin-bottom: 3%;
}
.decouvrir{
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
}
.explorer{
    border-radius: 50px 50px 50px 50px;
    background: linear-gradient(to bottom right, #ff79da , #9356dc);
    padding: 2%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
    color: white;
    /* box shadow */
}
/* Fin d'en tête de la page du site */
/* Menu navigation */
.titre{
    font-weight: bold;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 7%;
    margin-top: 12%;
}
.fonction a{
    text-decoration: none;
    color: black;
}
.fonction{
    background-color: #fbfbfb;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.fa-mobile-alt, .fa-list-ul, .fa-store{
    margin-right: 7%;
    color: grey;
}
.fonction:hover{
    background-color: #f5edff;
}
.fa-mobile-alt:hover, .fa-list-ul:hover, .fa-store:hover{
    color: #9356dc;
}
/* Fin du menu navigation */