.footer {
    background-color: #353535;
    text-align: left;
    padding-left: 5%;
    
    & a {
        text-decoration: none;
        color: $blanc;
    }
    &__navigation {
        padding-bottom: 2%;
        padding-top: 2%;
    }
    &__titre {
        padding-top: 4%;
        margin-bottom: 3%;
        color: $blanc;
        font-style: italic;
        font-family: 'Shrikhand', sans-serif;
    }
}
.fa-utensils, .fa-handshake {
    margin-right: 3%;
}

// Début du responsive tablette
@media screen and (min-width: 768px) {
    .footer {
        &__titre {
            font-size: 20px;
        }
        &__navigation {
            font-size: 18px;
        }
    }
    .fa-utensils, .fa-handshake {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        &__titre {
            font-size: 25px;
        }
        &__navigation {
            font-size: 20px;
        }
    }
    .fa-utensils, .fa-handshake {
        font-size: 23px;
    }
}
// Fin du responsive tablette
// Début du responsive desktop
@media screen and (min-width: 1201px) {
    .footer {
        &__titre {
            font-size: 30px;
            text-align: center;
        }
        &__charte {
            display: flex;
        }
        &__navigation {
            flex: 1 1 auto;
            margin-left: 4%;
            padding-bottom: 2%;
        }
    }
}
// Fin du responsive desktop