// Présnetation des menus
.taille {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 4%;
}
.carte {
    background-color: $gris-claire;
    position: relative;
    margin-top: -20%;
    padding-top: 2%;
    padding-bottom: 20%;
    border-radius: 30px 30px 0px 0px;
    
    &__titre {
        font-family: 'Shrikhand', sans-serif;
        font-size: 25px;
        font-weight: bold;
        font-style: italic;
        text-align: left;
        margin-left: 5%;
        margin-bottom: 5%;
    }
    &__titre2 {
        text-align: left;
        border-bottom: solid 2px $tertiaire;
        width: 10%;
        margin-left: 5%;
        margin-bottom: 5%;
        padding-bottom: 1%;
    }
    &__presentation {
        background-color: $blanc;
        border-radius: 10px;
        margin-bottom: 5%;
        text-align: left;
        margin-left: 5%;
        margin-right: 5%;
        padding: 3%;
        box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1), -.4em 0 .4em rgba(0,0,0,0.1);
    }
    &__description {
        margin-bottom: 2%;
        font-weight: bold;
    }
    &__prix {
        float: right;
        font-weight: bold;
    }
    &__presentation:hover {
        box-shadow: 10px 10px 10px rgba(0,0,0,0.247), -.4em 0 .4em rgba(0,0,0,0.247);
    } 
}
.fa-heart {
    float: right;
    margin-right: 8%;
}
.commande {
    border-radius: 50px 50px 50px 50px;
    background: linear-gradient(to bottom right, $secondaire, $primaire);
    padding: 4%;
    width: 30%;
    margin-left: 33%;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2), -.4em 0 .4em rgba(0,0,0,0.2);
    margin-top: 15%;
    & a {
        text-decoration: none;
        color: $blanc;
    }
    &:hover {
        box-shadow: 10px 10px 10px rgba(0,0,0,0.247), -.4em 0 .4em rgba(0,0,0,0.247);
    }
}
.fa-check-circle {
    display: none;
}
.fa-arrow-left {
    float: left;
    color: black;
    margin-top: -6%;
    margin-left: 5%;
}

@media screen and (min-width:466px) {
    .carte {
        &__titre2 {
            width: 7%;
        }
    }
    .fa-arrow-left {
        margin-top: -5%;
    }
}
@media screen and (min-width: 500px){
    .taille {
        margin-top: 2%;

    }
    .carte {
        margin-top: -18%;
    }
    .commande {
        width: 27%;
    }
    .fa-arrow-left {
        margin-top: -4%;
    }
}

@media screen and (min-width: 550px) {
    .taille {
        height: 350px;
    }
    .carte {
        margin-top: -22%;
        &__presentation {
            padding: 2%;
        }
    }
    .commande {
       width: 25%; 
    }
}

@media screen and (min-width: 617px) {
    .carte {
        &__titre2 {
            width: 5%;
        }
    }
    .fa-arrow-left {
        margin-top: -3%;
    }
}
@media screen and (min-width: 640px){
    .taille {
        height: 400px;
    }
    .carte {
        &__titre2 {
            width: 6%;
        }
        &__presentation {
            padding: 2%;
        }
    }
    .commande {
        padding: 3.20%;
    }
    
}

@media screen and (min-width: 740px) {
    .taille {
        height: 450px;
    }
    .commande {
        padding: 2.90%;
        width: 20%;
    }
}
// Début du responsive tablette
@media screen and (min-width: 768px) {
    .taille {
        width: 80%;
        font-size: 20px;
    }
    .carte {
        width: 80%;
        margin-left: 10%;
        font-size: 18px;

        &__presentation {
            width: 65%;
            margin-left: 18%;
        }
    }
    .fa-arrow-left {
        margin-left: 15%;
        font-size: 20px;
    }
    .commande {
        margin-left: 40%;
    }
}

@media screen and (min-width: 900px) {
    .taille {
        height: 500px;
    }
}

@media screen and (min-width: 1000px) {
    .taille {
        height: 550px;
    }
}

@media screen and (min-width: 1200px) {
    .fa-arrow-left {
        margin-top: -2%;
    }
}
// Fin du responsive tablette
// Fin de présentation des menus