.menu {
    margin-bottom: 15%;
}
.menu__titre {
    font-weight: bold;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 7%;
    margin-top: 12%;
}
.navigation__fonction a {
    text-decoration: none;
    color: black;
}
.navigation__fonction {
    border-radius: 15px 15px 15px 15px;
    background: $gris;
    padding: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1), -.2em 0 .2em rgba(0,0,0,0.1);
}
.navigation__fonction:hover {
    background-color: $rose-claire;
}
.fa-mobile-alt, .fa-list-ul, .fa-store {
    color: $gris-foncer;
    margin-right: 20px;
}
.fa-mobile-alt:hover, .fa-list-ul:hover, .fa-store:hover {
    color: $primaire;
}
.navigation__puce {
    background-color: $primaire;
    color: $blanc;
    padding: 0.40%;
    width: 3.5%;
    font-size: 15px;
    border-radius: 100%;
    float: left;
    margin-top: 22px;
    margin-left: 50px;
}