.menu {
    margin-bottom: 15%;

    &__titre {
        font-size: 20px;
        font-weight: bold;
        text-align: left;
        margin-left: 5%;
        margin-bottom: 7%;
        margin-top: 12%;
    }
    &__fonction {
        border-radius: 15px 15px 15px 15px;
        background: $gris;
        padding: 6%;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 5%;
        box-shadow: 6px 6px 6px rgba(0,0,0,0.1), -.4em 0 .4em rgba(0,0,0,0.1);
    }
    & a {
        text-decoration: none;
        color: black;
    }
    &__fonction:hover {
        background-color: $rose-claire;
        box-shadow: 10px 10px 10px rgba(0,0,0,0.247), -.4em 0 .4em rgba(0,0,0,0.247);
    }
    &__puce {
        background-color: $primaire;
        color: $blanc;
        padding: 1.20%;
        width: 3.5%;
        font-size: 15px;
        border-radius: 100%;
        float: left;
        margin-top: 6%;
        margin-left: 10%;
    }
}
.fa-mobile-alt, .fa-list-ul, .fa-store {
    color: $gris-foncer;
    margin-right: 8%;
    font-size: 20px;
}
.fa-mobile-alt:hover, .fa-list-ul:hover, .fa-store:hover {
    color: $primaire;
}

@media screen and (min-width: 508px) {
    .menu {
        &__puce {
            padding: 1.5%;
            width: 3%;
            margin-top: 5%;
        }
    }
}