.presentation {
    padding-bottom: 5%;
    margin-bottom: 5%;
    background: $gris-claire;

    &__paris {
        background-color: $gris;
        padding: 4%;
        font-size: 20px;
        box-shadow: inset 0em 0.15em 5px rgba(0, 0, 0, 0.329);
    }
    &__reservation {
        margin-top: 8%;
        width: 50%;
        margin-left: 20%;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 3%;
    }
    &__decouvrir {
        margin-bottom: 8%;
        margin-left: 15%;
        margin-right: 15%;
    }
    &__explorer {
        border-radius: 50px 50px 50px 50px;
        background: linear-gradient(to bottom right, $secondaire, $primaire);
        padding: 5%;
        margin-bottom: 5%;
        margin-left: 20%;
        margin-right: 25%;
        color: $blanc;
    }
}
.fa-map-marker-alt {
    margin-right: 5%;
}