.presentation {
    padding-bottom: 5%;
    margin-bottom: 5%;
    background: $gris-claire;
}
.presentation__paris {
    background-color: $gris;
    padding: 4%;
    font-size: 20px;
}
.presentation__reservation {
    margin-top: 8%;
    font-weight: bold;
    margin-bottom: 3%;
}
.presentation__decouvrir {
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
}
.presentation__explorer {
    border-radius: 50px 50px 50px 50px;
    background: linear-gradient(to bottom right, $secondaire, $primaire);
    padding: 2%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
    color: $blanc;
}