/* Présentation des restaurants */
.restaurant{
    background-color: $gris-claire;
    padding-bottom: 3%;
    padding-top: 1%;

    &__titre{
        font-size: 20px;
        font-weight: bold;
        text-align: left;
        margin-left: 5%;
        margin-bottom: 7%;
        margin-top: 12%;
    }
    &__taille{
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }
    &__carte{
        border: solid 0px $blanc;
        background-color: $blanc;
        width: 80%;
        border-radius: 20px;
        box-shadow: 6px 6px 6px rgba(0,0,0,0.1), -.4em 0 .4em rgba(0,0,0,0.1);
        margin-top: 2%;
        margin-left: 10%;
        margin-bottom: 4%;
    }
    &__carte:hover {
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.247), -.4em 0 .4em rgba(0, 0, 0, 0.247);
    }
    & a{
        text-decoration: none;
        color: black;
    }
    &__soustitre{
        font-weight: bold;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    &__description{
        text-align: left;
        padding-bottom: 6%;
        margin-left: 3%;
    }
    &__nouveau {
        background-color: $tertiaire;
        float: right;
        position: relative;
        margin-top: -90%;
        margin-right: 3%;
        padding: 1.50%;
        border-radius: 2px 2px 2px 2px;
        color: $vert;
        font-size: 14px;
    }
    &__coeur1{
        float: right ;
        font-size: 20px;
        margin-right: 6%;
        margin-top: -30px;
        background-color: $blanc;
    }
}

// Début du responsive

@media screen and (min-width: 432px) {
    .restaurant {
        &__nouveau {
            margin-top: -84%;
        }
    }
}

@media screen and (min-width: 456px) {
    .restaurant {
        &__nouveau {
            margin-top: -82%;
        }
    }
}

@media screen and (min-width: 478px) {
    .restaurant {
        &__nouveau {
            margin-top: -80%;
        }
    }
}

@media screen and (min-width: 500px) {
    .restaurant {
        &__nouveau {
            margin-top: -76%;
        }
    }
}

@media screen and (min-width: 517px) {
    .restaurant {
        &__nouveau {
            margin-top: -72%;
        }
    }
}

@media screen and (min-width: 555px) {
    .restaurant {
        &__nouveau {
            margin-top: -70%;
        }
    }
}

@media screen and (min-width: 567px) {
    .restaurant {
        &__taille {
            height: 300px;
        }
        &__description {
            padding-bottom: 4%;
        }
        &__nouveau {
            margin-top: -78%;
            padding: 1.20%;
        }
        &__coeur1{
            margin-top: -35px;
        }
    }
}

@media screen and (min-width: 591px) {
    .restaurant {
        &__nouveau {
            margin-top: -75%;
        }
    }
}

@media screen and (min-width: 618px) {
    .restaurant {
        &__nouveau {
            margin-top: -73%;
        }
    }
}

@media screen and (min-width: 648px) {
    .restaurant {
        &__nouveau {
            margin-top: -68%;
        }
    }
}

@media screen and (min-width: 694px) {
    .restaurant {
        &__nouveau {
            margin-top: -65%;
        }
    }
}

@media screen and (min-width: 720px) {
    .restaurant {
        &__taille {
            height: 350px;
        }
        &__description {
            padding-bottom: 3%;
        }
        &__nouveau {
            margin-top: -73%;
            padding: 1.20%;
        }
        &__coeur1{
            float: right ;
            margin-top: -40px;
        }
    }
}

@media screen and (min-width: 735px) {
    .restaurant {
        &__nouveau {
            margin-top: -70%;
        }
    }
}

// Début responsive tablette

@media screen and (min-width: 768px) {
    .restaurant{

        &__titre{
            font-size: 20px;
        }
        &__taille{
            height: 250px;
        }
        &__carte{
            width: 50%;
            margin-left: 25%;
        }
        &__description{
            font-size: 18px;
        }
        &__nouveau {
            margin-top: -80%;
            font-size: 15px;
        }
        &__coeur1{
            margin-top: -33px;
        }
    }
}

@media screen and (min-width: 800px) {
    .restaurant {
        &__nouveau {
            margin-top: -77%;
        }
    }
}

@media screen and (min-width: 840px) {
    .restaurant {
        &__nouveau {
            margin-top: -74%;
        }
    }
}

@media screen and (min-width: 870px) {
    .restaurant {
        &__nouveau {
            margin-top: -72%;
        }
    }
}

@media screen and (min-width: 900px) {
    .restaurant{
        &__taille{
            height: 280px;
        }
        &__nouveau {
            margin-top: -74%;
        }
    }
}

@media screen and (min-width: 960px) {
    .restaurant {
        &__nouveau {
            margin-top: -72%;
        }
    }
}

@media screen and (min-width: 1000px) {
    .restaurant {
        &__nouveau {
            margin-top: -70%;
        }
    }
}

@media screen and (min-width: 1040px) {
    .restaurant{
        &__taille{
            height: 350px;
        }
        &__nouveau {
            margin-top: -80%;
        }
    }
}
@media screen and (min-width: 1200px) {
    .restaurant{

        &__titre{
            font-size: 23px;
        }
        &__taille{
            height: 380px;
        }
        &__description{
            font-size: 20px;
        }
        &__nouveau {
            font-size: 18px;
            padding: 0.80%;

        }
        &__coeur1{
            margin-top: -43px;
            font-size: 25px;
        }
    }
}
// Fin du responsive tablette
//  Début du responsive desktop
@media screen and (min-width: 1201px) {
    .restaurant {
        width: 100%;
        &__titre {
            font-size: 24px;
        }
        &__carte {
            margin-left: 5%;
            width: 30%;
            display: inline-block;
            flex-direction: row;
            flex-wrap: wrap;
        }
        &__taille {
            height: 250px;
        }
        &__nouveau {
            margin-top: -85%;
        }
        &__coeur1{
            margin-top: -38px;
        }
    }
}

// Fin de la présentation des restaurants